<!doctype html>
<html lang="fr">

<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="css.css">
	<link rel="stylesheet" href="responsive.css">
	<link rel="icon" href="logo.ico" />
	<title>Titre de la page</title>
</head>


<body>
	<header>
		<div id="logo">
			<img src="netflix-logo.png" alt="logo-netflix">
		</div>
		<h1>Liste des films produit par : {{ nom }}</h1>
	</header>


	<section> 
		<div id="container">
			<div class="element 1">
			    <table>
			    	<tr>
						<th id="table">Films</th>
					</tr>
					
					{% for i in range(5): %}
			        <tr>
			        <ul>
			            <td><li>{{ title_catalogue.iloc[i]['title'] }}</li></td>
			        </ul>
			        </tr>
			        {% endfor %}
			    </table>
			</div>

			<div class="element 2">
			    <figure>
			    	<h2>Graphique</h2>
			    	<img src="jesse.png" alt="Catégorie" class="jesse" />
			    </figure>
			</div>
	    </div>

	</section>

		 
	<aside>

		<div class="graph">
			<div class="overlay">Nombre totale de films par catégorie</div>
			<img src="count_listed_in.png" alt="graph" class="image">
		</div>

	</aside>

	<footer> 
		{{ time_stamp }}
	</footer> 

</body>
</html>

<!--<h2>Nombre totale de films par catégorie</h2>
		<figure>
			<img src="count_listed_in.png" alt="listed_in">
		</figure>-->

